<nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand navbar-light">{{title}}</span>
    <input class="form-control mr-sm-2" type="text" placeholder="Поиск" [(ngModel)]="filter" />
</nav>

<table class="table">
    <thead>
        <tr>
            <th (click)="sort('name')">
                <span class="btn-link">Имя</span>
                <span class="glyphicon sort-icon"
                      *ngIf="key =='name'"
                      [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
                </span>
            </th>
            <th (click)="sort('link')">
                <span class="btn-link">Ссылка</span>
                <span class="glyphicon sort-icon"
                      *ngIf="key =='link'"
                      [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
                </span>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let emoji of emojiList | orderBy: key : reverse
                                      | emojiFilter:filter
                                      | paginate: { itemsPerPage: 100, currentPage: p };"
            [ngClass]="(emoji.favorites) ? 'active': ''">
                <th>{{emoji.name}}</th>
                <td>
                    <a class="alert-link"
                       [href]="emoji.link"
                       target="_blank">
                        {{emoji.link}}
                    </a>
                </td>
                <td class="preview-wrap">
                    <img class="preview"
                         [src]="emoji.link"
                         [alt]="emoji.name">
                    <span class="preview-big" [style.backgroundImage]="'url(' + emoji.link + ')'"></span>
                </td>
                <td class="btn-group" *ngIf="status === 'all'">
                  <button [ngClass]="(emoji.favorites) ? 'btn btn-danger' : 'btn btn-outline-danger'"
                          (click)="editFavorites(emoji)">
                      <img [src]="(emoji.favorites) ? favoritesIconYellow : favoritesIconRed" alt="">
                  </button>
                  <button class="btn btn-primary" (click)="fromAllToRemote(emoji)">
                      <img [src]="basketIcon" alt="">
                  </button>
                </td>
                <td class="btn-group" *ngIf="status === 'favorites'">
                    <button [ngClass]="(emoji.favorites) ? 'btn btn-danger' : 'btn btn-outline-danger'"
                            (click)="editFavorites(emoji)">
                        <img [src]="(emoji.favorites) ? favoritesIconYellow : favoritesIconRed " alt="">
                        {{(emoji.favorites) ? 'В избранном' : 'В избранное'}}
                    </button>
                </td>
                <td class="btn-group" *ngIf="status === 'deleted'">
                    <button class="btn btn-primary" (click)="fromRemoteToAll(emoji)">
                        Восстановить
                    </button>
                </td>
          </tr>
    </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>


